<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyEshop94</title>

    <link href="/css/b4/bootstrap.css" rel="stylesheet">
    <link href="/css/fa/css/all.css" rel="stylesheet">
    <link href="/css/animate/animate.css" rel="stylesheet">
    <script src="/js/bootstrap-native-v4.min.js"></script>

    <link rel="stylesheet" href="/admin/addproduct/bundle.css">

</head>
<body class="Mys_gradient1">
  <!--Create navigation bar with logo, search that include all name products in datalist, and return button-->
  <section id="adm_navg2" class="Mys_background1">
    
    <div id="adm_srch2" class="container py-2" >
      <div class="row">
        <div class="col">
          <a class="pl-4" href="/"><img src="/img/logo1.png" class="Mys_iconnav"></a>
          <span id="adm_title1" class="pl-3 Mys_title1">MyEshop94</span>
        </div>
        <div class="col-6">

          <div id="nav_searcher" class="input-group">
            <input id="nav_inpsearch" type="text" class="form-control" list="datalist1" placeholder="Search...">
  
            <datalist id="datalist1">
              <% if(products){ %>
                <% products.forEach(function(inf,ind){ %>
                  <option>   <%= inf %></option>
                <% }); %>
              <%} %>
            </datalist>
  
            <div class="input-group-append" style="height: 38px;">
              <button id="nav_btnsearch" class="btn btn-outline-secondary"><i class="fas fa-search text-white"></i></button>
            </div>
          </div>



        </div>
        <div class="col text-right mr-1">
          <a class="btn btn-outline-secondary text-white" style="font-family: poppins1;" href="/admin/main">
            <i class="far fa-hand-point-left"></i> PANEL PRINCIPAL
          </a>
        </div>

      </div>
    </div>

    
  </section>
  <!--Create body with form for add products in database-->
  <section id="adm_body1" class="container pt-2" >
    <div class="col-lg-8 offset-lg-2">
      <div class="card Mys_background2">
        <h4 class="pt-4 text-center">Agregar Producto</h4>

        <form id="adm_addform" class="needs-validation pt-0 p-3" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" id="adm_nombre" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Marca</label>
              <input type="text" class="form-control" id="adm_marca" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="firstName">Modelo</label>
              <input type="text" class="form-control" id="adm_modelo" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="country">Categoria</label>
              <select class="custom-select d-block w-100" id="adm_categoria" required>
                <option value="">Elegir...</option>
                <!-- Add all categories to select form -->
                <% if(type){ %>
                  <% type.forEach(function(inf,ind){ %>
                    <option>   <%= inf.nombre %></option>
                  <% }); %>
                <%} %>

              </select>
            </div>
            <div class="col-md-4 mb-3 text-right">
              <label for="firstName">Precio</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="adm_precio" required>
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
              
            </div>
          </div>

          <div class="row">

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Vista previa</label>
                <div id="adm_preview" class="card Mys_prevsquad"></div>
              </div>
            </div>
            
            <div class="col-md-8 mb-3">

              <div class="mb-3">
                <div class="form-group">
                  <label for="adm_descripcion">Descripcion</label>
                  <textarea class="form-control" id="adm_descripcion" rows="4"></textarea>
                </div>
              </div>
              <div class="mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="adm_imagen" lang="es" accept=".jpg, .png" required>
                  <label id="adm_labeladd" class="custom-file-label" for="adm_imagen" >Seleccionar Imagen...</label>
                </div>
              </div>

            </div>
          </div>
          <button class="btn btn-outline-secondary btn-lg btn-block" type="submit">Guardar <i class="far fa-save"></i></button>
        </form>

      </div>

      <div id="adm_cardokzone">
        
      </div>
      <div id="adm_cardnokzone">
        
      </div>

    </div>
  </section>
  <!--Call partial where is the footer-->
  <%- include('../partials/footer.ejs'); %>
</body>
<!--Call javascript-->
<script src="/admin/addproduct/bundle.js"></script>
</html>