/*------------------------------------- Add fonts -------------------------------------*/

@font-face {
    font-family: 'gotu1';
    src: url('/font/Gotu-Regular.ttf');
  }
@font-face {
    font-family: 'poppins1';
    src: url('/font/Poppins-Regular.ttf');
  }
@font-face {
    font-family: 'sand1';
    src: url('/font/Quicksand-Regular.ttf');
  }
@font-face {
    font-family: 'lobster1';
    src: url('/font/Lobster-Regular.ttf');
  }
@font-face {
    font-family: 'yanone1';
    src: url('/font/YanoneKaffeesatz-Regular.ttf');
  }
@font-face {
    font-family: 'baloo1';
    src: url('/font/BalooTammudu2-Medium.ttf');
  }
@font-face {
    font-family: 'warfare1';
    src: url('/font/ModernWarfare-8MM6z.ttf');
  }
@font-face {
    font-family: 'teko1';
    src: url('/font/Teko-Regular.ttf');
  }

/*------------------------------------- classes -------------------------------------*/

/*------- Header classes -------*/

.Mys_gradient1 {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}

/*------- Navbar classes -------*/










.Mys_footback{
    background-color: gray; 
    min-height: 200px; 
    font-family: poppins1;
  }
  
  .Mys_footicon1{
    height: 44px; 
    width: 44px;
  }