<!--a footer with much links-->
<section id="foot1" class="Mys_footback">
  <footer class="container pt-5 border-top pb-0 mt-2 border-0">
    <div class="row mx-0 text-dark">
      <div class="col-12 col-md text-center" >
        <img class="mb-2" src="/img/logo1.png" alt="" width="70" height="70" >
        <small class="d-block">Copyright © 2020. </small>
        <small class="d-block mb-3">Todos los derechos reservados</small>
      </div>
      <div class="col-6 col-md">
        <h5>Empresa</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="/about/everthing#abt_mission">Mision</a></li>
          <li><a class="text-white" href="/about/everthing#abt_team">Nosotros</a></li>
          <li><a class="text-white" href="/about/everthing#abt_work">Trabajo</a></li>
          <li><a class="text-white" href="/about/everthing#abt_contact">Contacto</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Recursos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="/about/features#ftr_nodejs">Node JS</a></li>
          <li><a class="text-white" href="/about/features#ftr_stripe">Stripe</a></li>
          <li><a class="text-white" href="/about/features#ftr_heroku">Heroku</a></li>
          <li><a class="text-white" href="/about/features#ftr_mongodb">Mongo DB</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Aviso legal</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="/about/everthing#abt_privacity">Politica de privacidad</a></li>
          <li><a class="text-white" href="/about/everthing#abt_conduct">Codigo de conducta</a></li>
        </ul>
      </div>
      <div class="col-6 col-md text-center">
        <h5>Siguenos</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="btn btn-secondary rounded-circle m-1 p-0 pt-1 Mys_footicon1" href="/a/b" target="_blank">
              <i class="fab fa-twitter pt-2" style="font-size: 20px;"> </i>
            </a>
            <a class="btn btn-secondary rounded-circle m-1 p-0 pt-1 Mys_footicon1" href="https://www.facebook.com/Z1K3C" target="_blank">
              <i class="fab fa-facebook-square pt-2" style="font-size: 20px;"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-secondary rounded-circle m-1 p-0 pt-1 Mys_footicon1" href="https://www.youtube.com/channel/UCKpR_x5WgtNCXx0oE2GuNag" target="_blank">
              <i class="fab fa-youtube pt-2" style="font-size: 20px;"></i>
            </a>
            <a class="btn btn-secondary rounded-circle m-1 p-0 pt-1 Mys_footicon1" href="https://www.linkedin.com/in/adbeel-estrada-9a332b181" target="_blank">
              <i class="fab fa-linkedin-in pt-2" style="font-size: 20px;"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 mb-2">
        <p class="text-right pr-5" style="font-family: yanone1;">
          Elaborado y diseñado por Eadbeel94, para mas informacion acerca del desarrollador visita:  
          <a class="text-white pl-2" href="https://eadbeel94.herokuapp.com/" target="_blank"> eadbeel94.herokuapp.com</a>
        </p>
      </div>
    </div>
  </footer>
</section>
