<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyEshop94</title>
  <link href="/css/b4/bootstrap.css" rel="stylesheet">
  <link href="/css/fa/css/all.css" rel="stylesheet">
  <link href="/css/animate/animate.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
  <script src="/js/bootstrap-native-v4.min.js"></script>
</head>
<body class="Mys_back1">