<section 
  id="ind_modalC" 
  class="fade modal animated fadeIn delay-2s" 
  data-backdrop="static" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="staticBackdropLabel" 
  style="opacity: 1; display: inline !important; background-color: rgba(0,0,0,0.5);">
    <div class="row align-items-end" style="height: 100vh">
      <div class="col">

        <div class="modal-content" style="font-family: poppins1; ">
          <section class="row align-items-center mx-0 p-2 " style="background-color: rgba(128,128,128,0.8); color: white">
            <div class="col-md-8 pb-2" >
              Utilizamos cookies propios y de terceros para generar datos necesarios para el funcionamiento de esta aplicación y mostrar cierta publicidad personalizada. Para aceptar todos los propósitos indicados, puede continuar navegando, gracias.
              Recordarles a nuestros clientes que la aplicación está en fase de prueba y todos los productos mostrados son ficticios, no están en venta y no se cuenta con los métodos de cobro y envió necesarios para realizar esas ventas, el propósito de esta aplicación es de desarrollo personal para el programador.
            </div>
            <div class="col-md-4">
              <div class="btn-group btn-block m-0" role="group" aria-label="Basic example" style="background-color: white">
                <button id="ind_btn1" type="button" class="btn btn-outline-secondary rounded-0" data-dismiss="modal">Aceptar</button>
                <button id="ind_btn2" type="button" class="btn btn-outline-primary rounded-0">Cerrar</button>
              </div>
            </div>
          </section>
        </div>

      </div>
    </div>
</section>